@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.demo {
    background-color: #e7e7e7;
}
.product-grid {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 5px 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    transition: all 0.5s;
}

    .product-grid:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    .product-grid .product-image {
        position: relative;
    }

        .product-grid .product-image a.image {
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            display: block;
        }

        .product-grid .product-image img {
            width: 100%;
            height: auto;
        }

    .product-grid .product-sale-label {
        color: #fff;
        background: #009de1;
        font-size: 13px;
        text-transform: uppercase;
        padding: 2px 6px;
        border-radius: 3px;
        position: absolute;
        left: -4px;
        top: -2px;
    }

    .product-grid .price {
        color: #fff;
        background: #009de1;
        font-size: 13px;
        padding: 2px 6px 2px 18px;
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 1px 3px 3px 1px;
        position: absolute;
        top: 25px;
        left: -15px;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
    }

        .product-grid .price span {
            font-weight: 400;
            text-decoration: line-through;
            opacity: 0.5;
        }

        .product-grid .price:before {
            content: "";
            background: #fff;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 7px;
        }

        .product-grid .price.fixed {
            background: #b71540;
            top: -4px;
        }

    .product-grid .add-to-cart {
        color: #fff;
        background: #b71540;
        font-size: 13px;
        text-transform: uppercase;
        padding: 8px 10px;
        border-radius: 3px;
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
        opacity: 0;
        position: absolute;
        right: 10px;
        bottom: 10px;
        transition: all 0.2s ease-out;
    }

        .product-grid .add-to-cart:hover {
            text-shadow: 0 0 5px #000;
        }

    .product-grid:hover .add-to-cart {
        opacity: 1;
    }

    .product-grid .product-content {
        background-color: #fff;
        text-align: left;
        padding: 15px 10px;
        border-top: 1px solid transparent;
        border-radius: 0 0 10px 10px;
        transition: all 0.3s;
    }

    .product-grid:hover .product-content {
        border-top-color: #dbdbdb;
    }

    .product-grid .title {
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0;
    }

        .product-grid .title a {
            color: #323b45;
            transition: all 0.4s ease-out;
        }

            .product-grid .title a:hover {
                color: #b71540;
            }

    .product-grid .rating {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .product-grid .rating li {
            color: #f1c40f;
            font-size: 12px;
            display: inline-block;
        }

            .product-grid .rating li.far {
                color: #dbdbdb;
            }

@media screen and (max-width:990px) {
    .product-grid {
        margin: 5px 15px 30px;
    }
}

License Terms

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
ul > li {
    margin-right: 25px;
    font-weight: lighter;
    cursor: pointer
}

li.active {
    border-bottom: 3px solid silver;
}

.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f6f6;
}

.menu-items {
    list-style-type: none;
    font-size: 11px;
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 20px
}

.btn-success {
    width: 100%;
    border-radius: 0;
}

.section {
    width: 100%;
    margin-left: -15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f9f9
}

.title-price {
    margin-top: 30px;
    margin-bottom: 0;
    color: black
}

.title-attr {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}

.btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}

div.section > div {
    width: 100%;
    display: inline-flex;
}

    div.section > div > input {
        margin: 0;
        padding-left: 5px;
        font-size: 10px;
        padding-right: 5px;
        max-width: 18%;
        text-align: center;
    }

.attr, .attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}

    .attr.active, .attr2.active {
        border: 1px solid orange;
    }

@media (max-width: 426px) {
    .container {
        margin-top: 0px !important;
    }

        .container > .row {
            padding: 0 !important;
        }

            .container > .row > .col-xs-12.col-sm-5 {
                padding-right: 0;
            }

            .container > .row > .col-xs-12.col-sm-9 > div > p {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .container > .row > .col-xs-12.col-sm-9 > div > ul {
                padding-left: 10px !important;
            }

    .section {
        width: 104%;
    }

    .menu-items {
        padding-left: 0;
    }
}